.buttons {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
}
.socials {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.twitter{
  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./icons/twitter.svg");
}

.next-qoute {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
}
