.Qoute {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(184, 132, 140, 0.85);
  border-radius: 15px;
}
blockquote{
  margin: 7px 5px;
  text-align: center;
  font-size: 16px;
  line-height: 1.75;
}
p {
  text-align: end;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .Qoute {
    padding: 7px 10px;
  }
  blockquote,
  p{
    font-size: 24px;
    font-weight: 500;
  }
}
@media screen and (max-width: 501px) {
  blockquote{
    line-height: 1.4;
  }
}
